<a name="pagecontent" id="pagecontent"></a>

<div class="sixteen columns page clearfix">
  <h1>
    {{ page.title }}
  </h1>
  <div class="feature_divider"></div>

<div class="sixteen columns"></div>
<div data-rv-handle="inner-circle">
<div data-thumb="" data-title="Inner Circle" data-image-height="1049px" data-image-width="1047px">
<div class="nine columns medium-down--one-whole alpha"><iframe title="vimeo-player" src="https://player.vimeo.com/video/335731912" width="640" height="358" frameborder="0" allowfullscreen="allowfullscreen"></iframe></div>
</div>
<div class="seven columns medium-down--one-whole  omega">
<h1>Inner Circle</h1>
<p>$18.01 or $199.99</p>
<div>
<p>Click the video to view a recent message from Tammy. </p>
<p>For only $18 a month or $199.99 a year you can become a member of Tammy’s club called the New Inner Circle, and you will receive weekly video messages that will touch your heart and inspire you greatly.</p>
<p>Today, Tammy’s only method of communicating is through charting, in which she looks at a clear plastic chart that has the letters of the alphabet printed on it. Someone stands on the other side of the chart, looking directly at the letter which Tammy is looking at, and then letter by letter, she tediously puts together words.</p>
<p>Although this requires enormous strength, Tammy goes to great lengths to continue inspiring people with her messages of Emunah.</p>
<p>If you would like assistance signing up, please email Suri at innercircleproject1@gmail.com or call her at:</p>
<ul>
<li>Israel: 972-58-324-5348</li>
<li>UK: 44-203-807-4427</li>
<li>USA: 1-347-464-6529</li>
</ul>
<p>Choose an option below to subscribe.</p>
</div>
<a href="https://py.pl/245Kme" target="_blank" >
<button type="submit" name="add" class="action_button add_to_cart" data-label="Subscribe">
          <span class="text" style="color: white;">Subscribe $18/Monthly</span>
          <svg x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32" class="checkmark">
            <path fill="none" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M9,17l3.9,3.9c0.1,0.1,0.2,0.1,0.3,0L23,11"/>
          </svg>
        </button>
</a>
  <hr color: white>
<a href="https://py.pl/cd5Ek" target="_blank" >
<button type="submit" name="add" class="action_button add_to_cart" data-label="Subscribe">
          <span class="text" style="color: white;">Subscribe $199.99/Every 12 Months</span>
          <svg x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32" class="checkmark">
            <path fill="none" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M9,17l3.9,3.9c0.1,0.1,0.2,0.1,0.3,0L23,11"/>
          </svg>
        </button>
</a>

</div>
</div>
  
</div>